h1 {
  margin-left: 1rem;
}

h3,
h1 {
  color: rgb(255, 89, 117);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.result {
  margin: 1rem;
  padding: 1rem;
  max-width: 200px;
  background: white;
  border: 3px solid pink;
  border-radius: 1rem;
}
